<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
		<link href="fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="css/bootstrap-3.1.1.min.css" rel="stylesheet">
		<link href="css/lollies.min.css" rel="stylesheet">
		<link href="css/custom.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="js/html5shiv-3.7.0.js"></script>
			<script src="js/respond-1.4.2.js"></script>
		<![endif]-->
	</head>
	<body>
						
		<header id="main-header">
			<div class="container">
				<div class="row">
					<div class="col-md-6 headerMatch">
						<!-- LOGO -->
						<div id="logo"><a href="/"><img src="http://placehold.it/720x200/149cd7/149cd7" /></a></div>
					</div>
					<div class="col-md-6 headerMatch">
						<!-- MASTHEAD -->
						<div id="masthead-container">
							<div id="masthead">
								<!-- SOCIAL MEDIA
								<div class="socialmedia">
									<a href="" target="_blank" ><img src="img/icons/facebook.png" /></a>
									<a href="" target="_blank" ><img src="img/icons/twitter.png" /></a>
									<a href="" target="_blank" ><img src="img/icons/youtube.png" /></a>
									<a href="" target="_blank" ><img src="img/icons/instagram.png" /></a>
								</div>
								-->
								<!-- CALL TO ACTION -->
								<div class="call"><h1>Lorem ipsum 1800123123</h1><p>Consectetur adipiscing elit</p></div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<nav id="main-nav">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- NAVIGATION -->
						<div class="navbar navbar-default" role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="navbar-collapse collapse">
								<ul class="nav navbar-nav nav-justified">
									<li class="active"><a href="#">La(B)Nova</a></li>
									<li><a href="#custom_form">Inserire materiali</a></li>
									<li><a href="#github">Repo GitHub</a></li>
									<li><a href="#font">Font Gratis</a></li>
									<li><a href="#mockup">Mockup gratis</a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Nav Item 6 <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li class="dropdown-header">Nav header</li>
											<li><a href="#">Separated link</a></li>
											<li><a href="#">One more separated link</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
		</nav>		<div class="service-block">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 serv-round">
						<div class="animate-fadein-icon animatedEntrance">        
 							<a href="#">
								<img src="http://placehold.it/720x720/21b2eb/058dcd" />
								<div class="overlay"></div>
							</a>
						</div>
						<h3 id="#javascript">Librerie Javascript</h3>
					</div>
					<div class="col-md-3 col-sm-6 serv-round">
						<div class="animate-fadein-icon animatedEntrance">        
 							<a href="#">
								<img src="http://placehold.it/720x720/21b2eb/058dcd" />
								<div class="overlay"></div>
							</a>
						</div>
						<h3>Tecniche CSS</h3>
					</div>
					<div class="col-md-3 col-sm-6 serv-round">
						<div class="animate-fadein-icon animatedEntrance">        
 							<a href="#">
								<img src="http://placehold.it/720x720/21b2eb/058dcd" />
								<div class="overlay"></div>
							</a>
						</div>
						<h3>Articoli su CSS</h3>
					</div>
					<div class="col-md-3 col-sm-6 serv-round">
						<div class="animate-fadein-icon animatedEntrance">        
 							<a href="#">
								<img src="http://placehold.it/720x720/21b2eb/058dcd" />
								<div class="overlay"></div>
							</a>
						</div>
						<h3>Web app per debug web</h3>
					</div>
				</div>
			</div>
		</div>		<div class="service-block">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 serv-round">
						<div class="animate-fadein-icon animatedEntrance">        
 							<a href="#">
								<img src="http://placehold.it/720x720/21b2eb/058dcd" />
								<div class="overlay"></div>
							</a>
						</div>
						<h3>Font gratis</h3>
					</div>
					<div class="col-md-3 col-sm-6 serv-round">
						<div class="animate-fadein-icon animatedEntrance">        
 							<a href="#">
								<img src="http://placehold.it/720x720/21b2eb/058dcd" />
								<div class="overlay"></div>
							</a>
						</div>
						<h3>Articoli su Web Design</h3>
					</div>
					<div class="col-md-3 col-sm-6 serv-round">
						<div class="animate-fadein-icon animatedEntrance">        
 							<a href="#">
								<img src="http://placehold.it/720x720/21b2eb/058dcd" />
								<div class="overlay"></div>
							</a>
						</div>
						<h3>Loghi/Illustrazioni</h3>
					</div>
					<div class="col-md-3 col-sm-6 serv-round">
						<div class="animate-fadein-icon animatedEntrance">        
 							<a href="#">
								<img id="mockup" src="http://placehold.it/720x720/21b2eb/058dcd" />
								<div class="overlay"></div>
							</a>
						</div>
						<h3>Mockup Illustrator</h3>
					</div>
				</div>
			</div>
		</div>		<div class="service-block">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 serv-round">
						<div class="animate-fadein-icon animatedEntrance">        
 							<a href="#">
								<img src="http://placehold.it/720x720/21b2eb/058dcd" />
								<div class="overlay"></div>
							</a>
						</div>
						<h3>Mockup Photoshop</h3>
					</div>
					<div class="col-md-3 col-sm-6 serv-round">
						<div class="animate-fadein-icon animatedEntrance">        
 							<a href="#">
								<img id="font" src="http://placehold.it/720x720/21b2eb/058dcd" />
								<div class="overlay"></div>
							</a>
						</div>
						<h3>Font gratis</h3>
					</div>
					<div class="col-md-3 col-sm-6 serv-round">
						<div class="animate-fadein-icon animatedEntrance">        
 							<a href="#">
								<img src="http://placehold.it/720x720/21b2eb/058dcd" />
								<div class="overlay"></div>
							</a>
						</div>
						<h3>Tricks Node.js</h3>
					</div>
					<div class="col-md-3 col-sm-6 serv-round">
						<div class="animate-fadein-icon animatedEntrance">        
 							<a href="#">
								<img id="github" src="http://placehold.it/720x720/21b2eb/058dcd" />
								<div class="overlay"></div>
							</a>
						</div>
						<h3 >Repository GitHub</h3>
					</div>
				</div>
			</div>
		</div>		<div class="form-block">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<img src="http://placehold.it/720x850/21b2eb/058dcd" />
					</div>
					<div class="col-md-8 col-sm-6">
						<form method="post" id="custom_form" name="custom_form">
							<div class="form-group">
								<label >Inserisci nome risorsa</label>
								<input  type="text" id="name" name="name" class="form-control">
							</div>
							<div class="form-group">
								<label >Inserisci link risorsa</label>
								<input type="text" id="email" name="email" class="form-control" >
						  	</div>
						  	<div class="form-group">
								<label >Inserisci tipologia risorsa</label>
								
									<select class="cs-select cs-skin-underline">
										<option value="librerie_javascript" disabled selected>Librerie Javascript</option>
										<option value="mockup_illustrator">Mockup Illustrator</option>
										<option value="mockup_photoshop">Mockup Photoshop</option>
										<option value="repository_github">Repository GitHub</option>
										<option value="tricks_node">Tricks Node.js</option>
										<option value="loghi_illustrazioni">Loghi/Illustrazioni</option>
										<option value="degub_web">Web app per debug web</option>
										<option value="font">Font gratis</option>
									</select>
			
							</div>
						  	<div class="form-group">
								<label>Captcha (case sensitive)</label>
								<div id="spambox">
									<div class="spam"></div>  
								</div> 
							</div>
						  	<button type="submit" class="btn btn-default" id="submit">Invia</button>
						</form>
					</div>
				</div>
			</div>
		</div>		<div class="footer-block">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2>Praesent nisl diam</h2>
						<p>Versione beta del dataStrum.</p>
					</div>
					<div class="col-md-6">
						<div id="footer-map"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-block">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12 left">
						&copy; 2014 
					</div>
					<div class="col-md-6 col-sm-6 right hidephone">
						Copyright by La(B)Nova
					</div>
				</div>
			</div>
		</div>
		<script src="js/classie.js"></script>
		<script src="js/selectFx.js"></script>
		<script>
			(function() {
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
					new SelectFx(el);
				} );
			})();
		</script>
						
								<!-- SCRIPTS -->
		<script src="js/jquery-1.7.2.min.js"></script>
		<script src="js/bootstrap-3.1.1.min.js"></script>
		<script src="plugins/backstretch/backstretch-2.0.4.min.js"></script>
		<script src="plugins/camera-slider/camera-slider-1.3.4.min.js"></script>
		<script src="plugins/camera-slider/easing-1.3.min.js"></script>
		<script src="plugins/fancybox/fancybox-1.3.4.pack.js"></script>
		<script src="plugins/fancybox/klass-1.0.min.js"></script>
		<script src="plugins/fancybox/photoswipe-3.0.5.min.js"></script>
		<script src="plugins/hover-animations/transform2d.min.js"></script>
		<script src="plugins/hover-animations/hover-animations-1.0.min.js"></script>
		<script src="plugins/match-height/match-height-0.5.1.min.js"></script>
		<script src="plugins/validation/validation-2.2.min.js"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="js/lollies.min.js"></script>
		<script src="js/custom.js"></script>
	</body>
</html>
					